.section{
  border: 1px solid green;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: greenyellow;
  padding: 20px;
}

.quote h3{
  font-style: italic;
}

